$redColor: red;
$mainBlue: #00b8e6;
$hoverBlue: #0099bf;

$hoverGrey: #2c2f3e;
$borderGrey: #25252f;

$text-grey: #677b99;
$text-black: #bfc0c4;
$text-deep-black:#fff;
$text-normal: #89a5cc;
$text-grey: #677b99;
$text-disable: #52627a;

$loading-mask-color: rgba(37, 37, 47, 0.9);

$main-background-color: #25252f;
$panel-background-color: #282b39;
$panel-border-color: #282b39;
$sourcepost-background-color: #232633;



// $main-background-color: #f5f5f5;
// $panel-background-color: #fff;
// $panel-border-color: #fff;
// $sourcepost-background-color: #f5f6f6;
